/* Ensure the body and html take up the full height and width of the viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Container for all the elements, will hold everything proportionally */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#viewDiv {
  position: absolute;
  top: 0;
  right: 0;
  height: 94.5%;
  width: 66.66%;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#title {
	font-size:30;
	color:#1e1e79;
}

/* remove legend headings */
.esri-legend__layer-caption {
display:none;
}

.esri-legend__message {
  display: none !important;
}

/* add route legend items to the check box widget*/ 
.route-filter-container {
  position: absolute;
  top: 80px;
  left: 15px;
  padding: 10px;
  border-radius: 6px;
  font-family: Calibri, sans-serif;
  z-index: 10;

  background: none; /* removes any background */
  box-shadow: none; /* removes the drop shadow */
  border: none;     /* makes sure there’s no border */
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-right: 6px;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: white;
  position: relative;
  cursor: pointer;
	
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  content: "✓";
  color: black;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 2px;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: Calibri, sans-serif;
  cursor: pointer;
}

.line-symbol {
  width: 30px;
  height: 3px;
  margin-left: 8px;
  background-color: gray;
  flex-shrink: 0;
}

#instructions {
  position: absolute;
  top: 51px;
  left: 7px;
  background: rgba(255, 255, 255, 0.95);
  padding: 16px 20px;
  border-radius: 10px;
  font-family: Calibri, sans-serif;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  max-width: 30%;
  line-height: 1.5em;
  z-index: 10;
}
